<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayerParametrs.properties"/>

    <bean id="rapMusic" class="org.example.pr5.MusicTypes.RapMusic"/>
    <bean id="rockMusic" class="org.example.pr5.MusicTypes.RockMusic"/>
    <bean id="classicMusic" class="org.example.pr5.MusicTypes.ClassicMusic"/>

    <bean id="musicPlayerBean" class="org.example.pr5.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="rapMusic"/>
            </list>
        </property>
        <property name="name" value="${MusicPlayer.name}"/>
        <property name="volume" value="${MusicPlayer.volume}"/>
    </bean>

</beans>